{% extends "admin/page.html" %}{% load i18n %}
{% block title %}{% trans "Profile" %}{% endblock title %}

{% block body_class %}content-centered{% endblock body_class %}

{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% url 'account-admin:dashboard' %}">{% trans "Dashboard" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Profile" %}
    </span>
{% endblock toolbar %}

{% block page_content %}
{% include "admin/generic/form/errors.html" %}
<form action="" method="post" class="form">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Contact details" %}</legend>

        {% with form.first_name as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        {% with form.last_name as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}

        {% with form.email as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}

        {% with form.username as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}

        <a href="{% url 'account-admin:password-change' %}" class="btn btn--transparent btn--small">
            {% trans "Change Password" %}
        </a>

        {% if ACCOUNT_ENABLE_TWO_FACTOR %}
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Two Factor Auth" %}
                </span>
            </div>
            <div class="grid__span-8">
                <div class="form__control">
                    {% if user.two_factor_auth_enabled %}
                        <p><span class="label label--success">Enabled</span></p>
                        <p><a href="{% url 'account-admin:profile' %}">Manage Two-Factor Authentication</a></p>
                    {% else %}
                        <p><a href="{% url 'account-admin:setup' %}" class="btn btn--create btn--small">Enable Two-Factor Authentication</a></p>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </fieldset>
    <div class="form__action">
        <div class="form__actions-inner">
            <button type="submit" class="btn btn--primary">
                {% trans "Save" %}
            </button>
        </div>
    </div>
</form>
{% endblock page_content %}
