{% extends "admin/page.html" %}{% load i18n %}
{% block title %}{% trans "Profile" %}{% endblock title %}

{% block body_class %}content-centered{% endblock body_class %}

{% block content_title %}
    <a href="{% url 'account-admin:dashboard' %}">{% trans "Dashboard" %}</a>
    &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
    {% trans "Profile" %}
{% endblock content_title %}

{% block page_content %}
{% include "admin/generic/form/errors.html" %}
<form action="" method="post" class="form">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Contact details" %}</legend>

        <div class="form__row">
        {% with form.first_name as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        {% with form.last_name as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        </div>

        <div class="form__row">
        {% with form.email as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}

        {% with form.username as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Security" %}</legend>
        <div class="form__row">
            <div class="form__group">
                <label class="form__label">Password</label>
                <a href="{% url 'account-admin:password-change' %}" class="btn btn--change btn--small">
                    {% trans "Change Password" %}
                </a>
            </div>
        </div>

        {% if ACCOUNT_ENABLE_TWO_FACTOR %}
        <div class="form__row">

            <div class="form__group">
                <label class="form__label">{% trans "Two Factor Auth" %}</label>
                <div class="form__control">
                    {% if user.two_factor_auth_enabled %}
                        <p><span class="label label--success">Enabled</span></p>
                        <p><a href="{% url 'account-admin:profile' %}" class="btn btn--small btn--primary">Manage Two-Factor Authentication</a></p>
                    {% else %}
                        <p><a href="{% url 'account-admin:setup' %}" class="btn btn--create btn--small">Enable Two-Factor Authentication</a></p>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </fieldset>
    <div class="form__actions">
        <div class="form__actions-inner">
            <button type="submit" class="btn btn--primary">
                {% trans "Save" %}
            </button>
        </div>
    </div>
</form>
{% endblock page_content %}
