{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Role details" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Roles" %}</span>
{% endblock toolbar %}

{% block page_content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'account-admin:group_list' %}">{% trans "Roles" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Role details" %}
    </p>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Role & Permissions" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                &nbsp;
            </div>
            <div class="grid__span-8">
                <span class="text-strong">{{object.name}}</span>
            </div>
        </div>

        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Permissions" %}
                </span>
            </div>
            <div class="grid__span-8">
                <div class="form__control">
                    <ul>
                    {% for permission in object.permissions.all %}
                        <li>{{permission}}</li>
                    {% empty %}
                        <li><span class="text-italic">{% trans "No permission assigned" %}</span></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div class="content__inner">
    {% if perms.auth.delete_group %}
    <a href="{% url 'account-admin:group_delete' object.id %}" class="btn btn--delete btn--transparent pull-right">
        {% trans "Delete Role" %}
    </a>
    {% endif %}
    {% if perms.auth.change_group %}
    <a href="{% url 'account-admin:group_update' object.id %}" class="btn btn--change">
        {% trans "Edit Role" %}
    </a>
    {% endif %}
</div>
{% endblock page_content %}
