{% extends "admin/page.html" %}{% load i18n %}
{% block title %}
    {% if object %}
        {% trans "Edit Role" %}
    {% else %}
        {% trans "Add a Role" %}
    {% endif %}
{% endblock title %}
{% block body_class %}content-centered{% endblock body_class %}
{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% url 'account-admin:group_list' %}">{% trans "Roles" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if object %}
            {% trans "Edit Role" %}
        {% else %}
            {% trans "Add a Role" %}
        {% endif %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<form action="" method="post" class="form form--action-fixed-bottom">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

<fieldset>
    <legend>{% trans "Role" %}</legend>
    {% with form.name as field %}
        {% include "admin/generic/form/form_group.html" %}
    {% endwith %}
    {% with form.permissions as field %}
        {% include "admin/generic/form/form_group.html" %}
    {% endwith %}
</fieldset>

<div class="form__actions">
    <div class="form__actions-inner">
        <button type="submit" class="btn btn--primary">
            {% trans "Save" %}
        </button>
        <a href="{% url 'account-admin:group_list' %}" class="btn btn--cancel btn--transparent pull-right">
            {% trans "Cancel" %}
        </a>
    </div>
</div>

</form>

</div>
{% endblock page_content %}
