{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content dialog__content--small">
            {% block dialog_header %}
                {% include "admin/account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog__body--padded">
                <h4>{% trans "Sign in" %}</h4>
                <p>{% trans "Please enter your email address and password below to login." %}</p>
                    {% csrf_token %}
                    {% include "admin/generic/form/non_field_errors.html" %}

                    {% with form.username as field %}
                        {% include 'admin/generic/form/text-field.html' %}
                    {% endwith %}
                    {% with form.password as field %}
                        {% include 'admin/generic/form/text-field.html' %}
                    {% endwith %}
                    <div class="form-group">
                        {{ form.remember_me.errors }}
                        {{ form.remember_me.label_tag }}
                        {{ form.remember_me }}
                    </div>

                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'account-admin:dashboard' %}{% endif %}" />

            </div>
            <div class="dialog__footer dialog-footer">
                <div class="dialog-footer__actions">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Login" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="dialog__content dialog__content--post">
            <p class="text-center">
                <a href="{% url "account-admin:password_reset" %}">{% trans "Forgot your password?" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
