{% extends "admin/account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content">
            <div class="dialog__header dialog-header">
                <div class="dialog-header__title dialog-header__title--center">
                    <h3>{{SITE_NAME}}</h3>
                </div>
            </div>
            <div class="dialog__body dialog__body--padded">
                <h4>{% trans "New password saved" %}</h4>
                <p>{% trans "Please login with your new password." %}</p>
            </div>
            <div class="dialog__footer dialog-footer">
                <div class="dialog-footer__actions dialog-footer__actions--center">
                    <a href="{% url "account-admin:login" %}" class="btn btn--primary btn--full-width">
                        {% trans "Login" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
