{% extends "admin/account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset successful" %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="modal modal--open">
        <div class="modal__wrapper">
            <div class="modal__content modal__content--small">
                <div class="modal__header">
                    <h3>{{SITE_NAME}}</h3>
                </div>
                <div class="modal__body">
                    <h4>{% trans "Please check your email" %}</h4>
                    <p>{% trans "We have just sent some instructions to the email address you gave us. Please following the instructions provided to set a new password." %}</p>
                </div>
            </div>
            <div class="modal__sub-footer modal__sub-footer--small text-center">
                
                <p>
                    <a href="{% url "account-admin:login" %}">{% trans "Back to login" %}</a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
