{% extends "admin/account/base.html" %}
{% load i18n %}

{% block title %}{% if validlink %}{% trans "Enter new password" %}{% else %}{% trans "Error resetting password" %}{% endif %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content dialog__content--small">
            <div class="dialog__header dialog-header">
                <div class="dialog-header__title dialog-header__title--center">
                    <h3>{{SITE_NAME}}</h3>
                </div>
            </div>
            <div class="dialog__body dialog__body--padded">
                {% if validlink %}
                    <h4>{% trans "Enter new password" %}</h4>
                {% else %}
                    <h4>{% trans "Error resetting password" %}</h4>
                {% endif %}
                {% if validlink %}
                    <p>{% trans "Please enter your new password twice." %}</p>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{error}}<br>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        {% include 'admin/includes/text-field.html' %}
                    {% endfor %}

                {% else %}
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                {% endif %}

            </div>
            <div class="dialog__footer dialog-footer">
                <div class="dialog-footer__actions dialog-footer__actions--center">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Save my new password" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
