{% extends "admin/page.html" %}
{% load i18n %}

{% block title %}{% trans "Password change successful" %}{% endblock %}

{% block toolbar %}
    <span class="toolbar__breadcrumbs">{% trans "Profile" %}</span>
{% endblock toolbar %}

{% block page_content %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <h2>{% trans "Password change successful" %}</h2>
    <p>{% trans "Your password has been changed." %}</p>
    <p><a href="{% url "account-admin:dashboard" %}">{% trans "Back to dashboard" %}</a></p>
</div>
{% endblock %}
