{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset successful" %}{% endblock %}

{% block content %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content">
            {% block dialog_header %}
                {% include "admin/account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog-section--padded">
                <h4>{% trans "Please check your email" %}</h4>
                <p>{% trans "We have just sent some instructions to the email address you gave us. Please following the instructions provided to set a new password." %}</p>
            </div>
        </div>
        <div class="dialog__content dialog__content--post">
            <p class="text-center">
                <a href="{% url "account-admin:login" %}">{% trans "Back to login" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
