{% extends "admin/page.html" %}{% load i18n %}
{% block title %}
    {% if object %}
        {% trans "Edit User" %}
    {% else %}
        {% trans "Add a User" %}
    {% endif %}
{% endblock title %}
{% block body_class %}content-centered{% endblock body_class %}
{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% url 'account-admin:user_list' %}">{% trans "Users" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if object %}
            <a href="{% url 'account-admin:user_detail' object.uuid %}">{{object}}</a>
            &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
            {% trans "Edit User" %}
        {% else %}
            {% trans "Add a User" %}
        {% endif %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<form action="" method="post" class="form form--action-fixed-bottom">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}
<fieldset>
    <legend>{% trans "Contact details" %}</legend>
    {% with form.first_name as field %}
        {% include "admin/generic/form/text-field.html" %}
    {% endwith %}

    {% with form.last_name as field %}
        {% include "admin/generic/form/text-field.html" %}
    {% endwith %}

    {% with form.email as field %}
        {% include "admin/generic/form/text-field.html" %}
    {% endwith %}
</fieldset>

<fieldset>
    <legend>{% trans "Security" %}</legend>
    {% with form.username as field %}
        {% include "admin/generic/form/text-field.html" %}
    {% endwith %}

    {% if object %}
        {% if request.user.is_superuser %}
        <a href="{% url 'account-admin:user_change_password' object.uuid %}" class="btn btn--transparent btn--small">
            {% trans "Change the password" %}
        </a>
        {% endif %}
    {% else %}
        {% with form.password1 as field %}
            {% include "admin/generic/form/text-field.html" %}
        {% endwith %}
        {% with form.password2 as field %}
            {% include "admin/generic/form/text-field.html" %}
        {% endwith %}
    {% endif %}
</fieldset>

<fieldset>
    <legend>{% trans "Role & Permissions" %}</legend>
    <div class="grid">
        <div class="grid__span-2">
            &nbsp;
        </div>
        <div class="grid__span-8">
            {% with form.is_active as field %}
                {% include "admin/generic/form/checkbox-field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="grid">
        <div class="grid__span-2">
            &nbsp;
        </div>
        <div class="grid__span-8">
            {% with form.is_staff as field %}
                {% include "admin/generic/form/checkbox-field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="grid">
        <div class="grid__span-2">
            &nbsp;
        </div>
        <div class="grid__span-8">
            {% with form.is_superuser as field %}
                {% include "admin/generic/form/checkbox-field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="grid">
        <div class="grid__span-2">
            <span class="form__label--inline">
                {% trans "Role" %}
            </span>
        </div>
        <div class="grid__span-8">
            {% with form.groups as field %}
                {% include "admin/generic/form/text-field.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="grid">
        <div class="grid__span-2">
            <span class="form__label--inline">
                {% trans "Permissions" %}
            </span>
        </div>
        <div class="grid__span-8">
            {% with form.user_permissions as field %}
                {% include "admin/generic/form/text-field.html" %}
            {% endwith %}
        </div>
    </div>
</fieldset>


<div class="form__actions">
    <div class="form__actions-inner">
        <button type="submit" class="btn btn--primary">
            {% trans "Save" %}
        </button>
        <a href="{% url 'account-admin:user_list' %}" class="btn btn--cancel btn--transparent pull-right">
            {% trans "Cancel" %}
        </a>
    </div>
</div>

</form>
{% endblock page_content %}
