{% extends "admin/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Users" %}
{% endblock title %}

{% block toolbar %}
    {% if perms.account.add_user %}
    <a href="{% url 'account-admin:user_add' %}"
        class="[ toolbar__item ] [ btn btn--create btn--small pull-right ]">
        <span class="fa fa-plus"></span> {% trans "Add a User" %}
    </a>
    {% endif %}
    <span class="toolbar__breadcrumbs">{% trans "Users" %}</span>
{% endblock toolbar %}

{% block page_content %}
<form action="" method="get" class="head-filter">
    <div class="head-filter__item head-filter__item--search">
        <div class="form__group">
            <div class="form__control form__control--text">
                <input type="text" name="query" class="form__text"
                    value="{% if search_query %}{{search_query}}{% endif %}" placeholder="Search">
            </div>
        </div>
    </div>
</form>
<table class="table table--clickable">
    <tr class="table-row">
        <th class="table-head-cell">{% trans "Name" %}</th>
        <th class="table-head-cell">{% trans "Email" %}</th>
        <th class="table-head-cell">{% trans "Superuser" %}</th>
        <th class="table-head-cell">{% trans "Staff" %}</th>
        <th class="table-head-cell">{% trans "Active" %}</th>
        {% if ACCOUNT_ENABLE_TWO_FACTOR %}<th class="table-head-cell">{% trans "Two Factor Auth" %}</th>{% endif %}
        <th class="table-head-cell">{% trans "Date joined" %}</th>
    </tr>
    {% for user in object_list %}
    <tr class="table-row"
        onClick="window.location = '{% url 'account-admin:user_detail' user.uuid %}'">
        <td class="table-cell">
            <a href="{% url 'account-admin:user_detail' user.uuid %}">{{user}}</a></td>
        <td class="table-cell">{{user.email}}</td>
        <td class="table-cell">{% if user.is_superuser %}
                <span class="fa fa-check fa-green"></span>
            {% else %}
                <span class="fa fa-remove fa-red"></span>
            {% endif %}
        </td>
        <td class="table-cell">{% if user.is_staff %}
                <span class="fa fa-check fa-green"></span>
            {% else %}
                <span class="fa fa-remove fa-red"></span>
            {% endif %}
        </td>
        <td class="table-cell">{% if user.is_active %}
                <span class="fa fa-check fa-green"></span>
            {% else %}
                <span class="fa fa-remove fa-red"></span>
            {% endif %}
        </td>
        {% if ACCOUNT_ENABLE_TWO_FACTOR %}
        <td class="table-cell">
            {% if user.is_staff or user.is_superuser %}
                {% if user.two_factor_auth_enabled %}
                    <span class="label label--success">Enabled</span>
                {% else %}
                    <span class="label label--danger">Disabled</span>
                {% endif %}
            {% else %}

            {% endif %}
        </td>
        {% endif %}
        <td class="table-cell">
            {{user.date_joined|date:"d F Y - g:i a"}}
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'admin/includes/pagination.html' %}
{% endblock page_content %}
