{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% trans "Roles" %}
{% endblock title %}

{% block toolbar %}
	{% if perms.auth.add_group %}
    <a href="{% url 'account-admin:group_add' %}"
        class="[ toolbar__item ] [ btn btn--create btn--small pull-right ]">
        <span class="fa fa-plus"></span> {% trans "Add a Role" %}
    </a>
    {% endif %}
	<span class="toolbar__title">{% trans "Roles" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="grid grid--collapse">
	<div class="grid__span-12">
		<div class="content__inner">
			<table class="table  table--clickable">
				<tr class="table-row">
					<th class="table-head-cell">{% trans "Role description" %}</th>
				</tr>
				{% for group in object_list %}
				<tr class="table-row"
					onClick="window.location = '{% url 'account-admin:group_detail' group.id %}'">
					<td class="table-cell">
						<a href="{% url 'account-admin:group_detail' group.id %}">
							{{group}}
						</a>
					</td>
				</tr>
				{% empty %}
				<tr class="table-row">
					<td class="table-cell">
						{% trans "No roles have been created yet." %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock content %}