{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% if object %}
		{% trans "Edit User" %}
	{% else %}
		{% trans "Add a User" %}
	{% endif %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__title">{% trans "Users" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
	<p class="breadcrumb">
		<a href="{% url 'account-admin:user_list' %}">{% trans "Users" %}</a>  
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		{% if object %}
			<a href="{% url 'account-admin:user_detail' object.uuid %}">{{object}}</a>  
			&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
			{% trans "Edit User" %}
		{% else %}
			{% trans "Add a User" %}
		{% endif %}
	</p>
</div>
<form action="" method="post" class="form">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Contact details" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Full name" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.first_name as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>
			<div class="grid__span-3">
				{% with form.last_name as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>		
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Email" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.email as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>	
		</div>
	</fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Security" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Username" %}
				</span>
			</div>
			<div class="grid__span-3">
				{% with form.username as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% if object %}
						&nbsp;
					{% else %}
						{% trans "Password" %}
					{% endif %}
				</span>
			</div>
			{% if object %}
				<div class="grid__span-6">
					{% if request.user.is_superuser %}
					<a href="{% url 'account-admin:user_change_password' object.uuid %}" class="btn btn--transparent btn--small">
						{% trans "Change the password" %}
					</a>
					{% endif %}
				</div>	
			{% else %}	
				<div class="grid__span-3">
					{% with form.password1 as field %}
						{% include "admin/includes/text-field.html" %}
					{% endwith %}
				</div>	
				<div class="grid__span-3">
					{% with form.password2 as field %}
						{% include "admin/includes/text-field.html" %}
					{% endwith %}
				</div>
			{% endif %}
		</div>
	</fieldset>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Role & Permissions" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				&nbsp;
			</div>
			<div class="grid__span-8">
				{% with form.is_active as field %}
					{% include "admin/includes/checkbox-field.html" %}
				{% endwith %}
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				&nbsp;
			</div>
			<div class="grid__span-8">
				{% with form.is_staff as field %}
					{% include "admin/includes/checkbox-field.html" %}
				{% endwith %}
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				&nbsp;
			</div>
			<div class="grid__span-8">
				{% with form.is_superuser as field %}
					{% include "admin/includes/checkbox-field.html" %}
				{% endwith %}
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Role" %}
				</span>
			</div>
			<div class="grid__span-8">
				{% with form.groups as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Permissions" %}
				</span>
			</div>
			<div class="grid__span-8">
				{% with form.user_permissions as field %}
					{% include "admin/includes/text-field.html" %}
				{% endwith %}
			</div>	
		</div>
	</fieldset>
</div>


<div class="content__inner">
	<button type="submit" class="btn btn--primary">
		{% trans "Save" %}
	</button>
</div>

</form>
{% endblock content %}