{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
	{% trans "User details" %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__title">{% trans "Users" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
	<p class="breadcrumb">
		<a href="{% url 'account-admin:user_list' %}">{% trans "Users" %}</a>  
		&nbsp;<span class="fa fa-angle-right"></span>&nbsp;
		{% trans "User details" %}
	</p>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Contact details" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Full name" %}
				</span>
			</div>
			<div class="grid__span-8">
				<div class="form__control">
					<p>{{object.first_name}} {{object.last_name}}</p>
				</div>
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Email" %}
				</span>
			</div>
			<div class="grid__span-8">
				<div class="form__control">
					<p><a href="mailto:{{object.email}}">{{object.email}}</a></p>
				</div>
			</div>	
		</div>
	</fieldset>
</div>
<div class="[ content__inner ] [ box box--padded box--bordered ]">
	<fieldset>
		<legend>{% trans "Role & Permissions" %}</legend>
		<div class="grid">
			<div class="grid__span-2">
				&nbsp;
			</div>
			<div class="grid__span-8">
				<p>{% if object.is_active %}
					<span class="fa fa-check fa-green"></span>
				{% else %}
					<span class="fa fa-remove fa-red"></span>
				{% endif %}
				{% trans "Active" %}</p>
			
				<p>{% if object.is_staff %}
					<span class="fa fa-check fa-green"></span>
				{% else %}
					<span class="fa fa-remove fa-red"></span>
				{% endif %}
				{% trans "Staff" %}</p>
			
				<p>{% if object.is_superuser %}
					<span class="fa fa-check fa-green"></span>
				{% else %}
					<span class="fa fa-remove fa-red"></span>
				{% endif %}
				{% trans "Superuser" %}</p>
			</div>	
		</div>
		
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Role" %}
				</span>
			</div>
			<div class="grid__span-8">
				<div class="form__control">
					<ul>
					{% for group in object.groups.all %}
						<li>{{group}}</li>
					{% empty %}
						<li><span class="text-italic">{% trans "No role assigned" %}</span></li>
					{% endfor %}
					</ul>
				</div>
			</div>	
		</div>
		<div class="grid">
			<div class="grid__span-2">
				<span class="form__label--inline">
					{% trans "Permissions" %}
				</span>
			</div>
			<div class="grid__span-8">
				<div class="form__control">
					<ul>
					{% for permission in object.user_permissions.all %}
						<li>{{permission}}</li>
					{% empty %}
						<li><span class="text-italic">{% trans "No permission assigned" %}</span></li>
					{% endfor %}
					</ul>
				</div>
			</div>	
		</div>
	</fieldset>
</div>

<div class="content__inner">
	{% if perms.account.delete_user %}
		{% if not request.user.is_superuser and object.is_superuser %}
			{# Non superuser can't delete superusers #}
		{% else %}
			<a href="{% url 'account-admin:user_delete' object.uuid %}" class="btn btn--delete btn--transparent pull-right">
				{% trans "Delete User" %}
			</a>
		{% endif %}
	{% endif %}
	{% if perms.account.change_user %}
	
	{% if not request.user.is_superuser and object.is_superuser %}
			{# Non superuser can't update superusers #}
		{% else %}
			<a href="{% url 'account-admin:user_update' object.uuid %}" class="btn btn--change">
				{% trans "Edit User" %}
			</a>
		{% endif %}
	{% endif %}
</div>		
{% endblock content %}