{% extends "admin/page.html" %}
{% load i18n two_factor %}

{% block title %}
	{% trans "Disable Two-factor Authentication" %}
{% endblock title %}

{% block toolbar %}
	<span class="toolbar__breadcrumbs">{% trans "Account Security" %}</span>
{% endblock toolbar %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="[ content__inner ] [ box box--padded box--bordered ]">
        <fieldset>
            <legend>{% trans "Disable Two-factor Authentication" %}</legend>
            <p>{% blocktrans %}You are about to disable two-factor authentication. This
              compromises your account security, are you sure?{% endblocktrans %}</p>
            <div class="grid">
              <div class="grid__span-3">
                  {% with form.password as field %}
                      {% include "admin/generic/form/text-field.html" %}
                  {% endwith %}
              </div>
              <div class="grid__span-3">
                  <div class="form__group">
                      <button class="btn btn--delete" type="submit">{% trans "Disable" %}</button>
                  </div>
              </div>
            </div>
        </fieldset>
    </div>
    <div class="content__inner">
        <a href="{% url 'account-admin:profile'%}" class="pull-right btn btn--transparent">{% trans "Back to Account Security" %}</a>
    </div>
</form>
{% endblock %}
