{% extends "admin/account/two_factor/base.html" %}
{% load i18n two_factor %}

{% block two_factor_content %}
<form method="post" class="form">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Disable Two-factor Authentication" %}</legend>
        <div class="form__row">
            <p>{% blocktrans %}You are about to disable two-factor authentication. This
            compromises your account security, are you sure?{% endblocktrans %}</p>
        </div>
        <div class="form__row">
            {% with form.password as field %}
                    {% include "admin/generic/form/form_group.html" %}
            {% endwith %}
        </div>
    </fieldset>
    <div class="form__actions">
        <div class="form__actions-inner">
            <button class="btn btn--delete" type="submit">{% trans "Disable" %}</button>
            <a href="{% url 'account-admin:profile'%}" class="pull-right btn btn--cancel">{% trans "Back to account security" %}</a>
        </div>
    </div>
</form>
{% endblock %}
