{% extends "notices/transaction.html" %}{% load i18n %}
{% block content %}
<table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width: 600px; max-width: 600px; background-color: #fff; text-align: center;">
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
    <tr>
        <td class="container-padding" style="padding-left: 45px; padding-right: 45px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 15px; line-height: 25px; color: #848484; text-align: center;">

            <div class="main-heading" style="padding-left: 10px; padding-right: 10px; font-size: 30px; line-height: 44px; color: #222;">Password reset
            </div>
            <br/>
            <div class="" style="padding-left: 10px; padding-right: 10px;">Please click on the button below to reset your password. This reset link will remain active for 30 days.</div>
        </td>
    </tr>
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
    <tr>
        <td class="container-padding" style="padding-left: 20px; padding-right: 20px;">
            
            <div align="center">
                <table class="btn-action" border="0" cellpadding="0" cellspacing="0" style="border: 2px solid #00ABD3; border-radius: 4px; background-color: #00ABD3;" align="center">
                    <tr>
                        <td class="btn-text" valign="middle" style="padding-top: 12px; padding-right: 30px; padding-bottom: 14px; padding-left: 30px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 15px; color: #00ABD3; text-align: center;">
                            <a href="{{url}}" target="_blank" class="" style="color: #fff; text-decoration: none;">Reset your password</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
    <tr>
        <td class="" style="">&nbsp;</td>
    </tr>
</table>
{% endblock content %}