{% extends "admin/generic/page/confirm_delete.html" %}{% load i18n admin_list_tags %}

{% block content_title %}
    <a href="{% get_admin_url 'account' 'user' "detail" user %}">{{user}}</a>
    &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
    <a href="{% get_admin_url 'account' 'user' "detail" object.user %}">
        {{object}}
    </a>
    &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Confirm delete" %}
{% endblock content_title %}

{% block form_actions %}
<div class="content__inner">
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn--delete">
            {% trans "Confirm Delete" %}
        </button>
        <a href="{% get_admin_url 'account' 'user' "detail" user %}" class="btn btn--transparent pull-right">
            {% trans "Cancel" %}
        </a>
    </form>
</div>
{% endblock form_actions %}
