{% extends "admin/generic/page/confirm_delete.html" %}
{% load i18n admin_list_tags %}

{% block title %}
    {% trans "Send invitation" %}
{% endblock title %}

{% block page_content %}
<div class="content__body">
    <div class="content__inner">
        <div class="content__delete">
            <fieldset>
                <legend>
                    {% blocktrans with verbose_name|lower as verbose_name %}
                        Are you sure to invite the following {{verbose_name}}?
                    {% endblocktrans %}
                </legend>
                <div class="form__row">
                    <p>
                        {{object}}
                    </p>
                </div>
                <div class="form__row">
                    <p class="text-italic">{% trans "An email will be sent to them with a link to set their password." %}</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% block form_actions %}
<form method="post" action="">
    {% csrf_token %}
    <div class="content__foot">
        <div class="content__inner content-foot">
            <div class="content-foot__left">
                <button type="submit" class="btn btn--primary">
                    {% trans "Confirm Invitation" %}
                </button>
            </div>
            <div class="content-foot__right">
                <a href="{% get_admin_url app_label model_name "list" %}" class="btn btn--transparent pull-right">
                    {% trans "Cancel" %}
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock form_actions %}
{% endblock page_content %}
