{% extends "account/base.html" %}{% load i18n %}

{% block title %}{% trans "Password reset successful" %}{% endblock %}

{% block main %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <h2>{% trans "Please check your email" %}</h2>
    <p>{% trans "We have just sent some instructions to the email address you gave us. Please following the instructions provided to set a new password." %}</p>
    <p>
        <a href="{% url "account-public:login" %}">
            {% trans "Back to login" %}
        </a>
    </p>
</div>
{% endblock %}
