{% extends "admin/account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="modal modal--open">
        <div class="modal__wrapper">
            <div class="modal__content modal__content--small">
                <div class="modal__header">
                    <h3>{{SITE_NAME}}</h3>
                </div>
                <div class="modal__body">
                    <h4>{% trans "Reset your password" %}</h4>
                    <p>{% trans "Please enter your email address below and we will send you a reset password link." %}</p>
                        {% csrf_token %}
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{error}}<br>
                            {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            {% include 'admin/includes/text-field.html' %}
                        {% endfor %}

                </div>
                <div class="modal__footer">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Reset password" %}
                    </button>
                </div>
            </div>
            <div class="modal__sub-footer modal__sub-footer--small text-center">
                
                <p>
                    <a href="{% url "account_login" %}">{% trans "Back to login" %}</a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}

