{% extends "admin/account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="modal modal--open">
        <div class="modal__wrapper">
            <div class="modal__content modal__content--small">
                <div class="modal__header">
                    <h3>{{SITE_NAME}} (Public)</h3>
                </div>
                <div class="modal__body">
                    <h4>{% trans "Sign up" %}</h4>
                    <p>{% trans "Please enter your email address and choose a password." %}</p>
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert--error">
                            {% for error in form.non_field_errors %}
                                {{error}}<br>
                            {% endfor %}
                            </div>
                        {% endif %}
                        
                        {% with form.email as field %}
                            {% include 'admin/includes/text-field.html' %}
                        {% endwith %}
                        {% with form.password1 as field %}
                            {% include 'admin/includes/text-field.html' %}
                        {% endwith %}
                        {% with form.password2 as field %}
                            {% include 'admin/includes/text-field.html' %}
                        {% endwith %}

                        <input type="hidden" name="next" value="{{ next }}" />
                    
                </div>
                <div class="modal__footer">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Sign up" %}
                    </button>
                </div>
            </div>
            <div class="modal__sub-footer modal__sub-footer--small text-center">
                
                <p>
                    <a href="{% url "account-public:login" %}">{% trans "Login" %}</a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
