{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation pending" %}{% endblock %}

{% block content %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content">
            {% block dialog_header %}
                {% include "account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog__body--padded">
                {% if messages %}
                <div class="alert alert--success">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
                </div>
                {% endif %}
                <h4>{% trans "You have successfully signed up" %}</h4>
                <p>{% trans "In order to complete your registration, you will need to activate your account by following the link we have sent to your email address." %}</p>
                <p>
                    <a href="{% url 'account-public:resend-activation-link' user.uuid %}">
                        {% trans "Resend activation link" %}
                    </a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
