{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content dialog__content--small">
            {% block dialog_header %}
                {% include "account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog-section--padded">
                <h4>{% trans "See you soon." %}</h4>
                <p>{% trans "You have now been logged out." %}</p>
            </div>
        </div>
        <div class="dialog__content dialog__content--post">
            <p class="text-center">
                <a href="{% url "account-public:login" %}">{% trans "Login again?" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
