{% load i18n account_tags %}<div class="menu menu--open" id="menu">
    <div class="menu__list">
        <a href="{% url 'account-public:dashboard' %}" class="[ menu__item ] [ menu-item menu-item--header ]">
            {{SITE_NAME}}
        </a>

        <a href="{% url 'account-public:dashboard' %}" class="[ menu__item ] [ menu-item ]">
            <span class="menu-item__icon fa fa-th"></span>
            <span class="menu-item__text">Dashboard</span>
        </a>

        <div class="menu__section-header">
            {% trans "Profile" %}
        </div>
        <a href="{% url 'account-public:edit' %}" class="[ menu__item ] [ menu-item ]">
            <span class="menu-item__icon fa fa-user"></span>
            <span class="menu-item__text">{% trans "Update my profile" %}</span>
        </a>
        <a href="{% url 'account-public:password_change' %}" class="[ menu__item ] [ menu-item ]">
            <span class="menu-item__icon fa fa-lock"></span>
            <span class="menu-item__text">{% trans "Change my password" %}</span>
        </a>

        <a href="{% url 'account-public:logout' %}" class="[ menu__item ] [ menu-item menu-item--sign-out ]">
            <span class="menu-item__icon fa fa-sign-out"></span>
            <span class="menu-item__text">Sign out</span>
        </a>
    </div>
</div>
