{% extends "account/page.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Change Password" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'account-public:dashboard' %}">{% trans "Dashboard" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Change Password" %}
    </p>
</div>
<form action="" method="post" class="form">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="alert alert--error">
    {% for error in form.non_field_errors %}
        {{error}}<br>
    {% endfor %}
    </div>
{% endif %}

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Change Password" %}</legend>
        <div class="form__row">
            {% with form.old_password as field %}
                {% include "admin/generic/form/field_as_div.html" %}
            {% endwith %}
        </div>
        <div class="form__row">
            {% with form.new_password1 as field %}
                    {% include "admin/generic/form/field_as_div.html" %}
            {% endwith %}
            {% with form.new_password2 as field %}
                {% include "admin/generic/form/field_as_div.html" %}
            {% endwith %}
        </div>
    </fieldset>
</div>

<div class="content__inner">
    <button type="submit" class="btn btn--primary">
        {% trans "Save" %}
    </button>
    <a href="{% url "account-public:dashboard" %}">{% trans "Cancel" %}</a>
</div>

</form>
{% endblock %}
