{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block main %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content">
            {% block dialog_header %}
                {% include "admin/account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog__body--padded">
                <h4>{% trans "Reset your password" %}</h4>
                <p>{% trans "Please enter your email address below and we will send you a reset password link." %}</p>
                    {% csrf_token %}
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{error}}<br>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        {% include 'admin/includes/text-field.html' %}
                    {% endfor %}

            </div>
            <div class="dialog__footer dialog-footer">
                <div class="dialog-footer__actions">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Reset password" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="dialog__content dialog__content--post">
            <p class="text-center">
                <a href="{% url "account-public:login" %}">{% trans "Back to login" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
