{% extends "account/base.html" %}{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block main %}
<form method="post">
    <div class="modal modal--open">
        <div class="modal__wrapper">
            <div class="modal__content modal__content--small">
                <div class="modal__header">
                    <h3>{{SITE_NAME}} (Public)</h3>
                </div>
                <div class="modal__body">
                    <h4>{% trans "Change my password" %}</h4>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert--error">
                        {% for error in form.non_field_errors %}
                            {{error}}<br>
                        {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% with form.old_password as field %}
                        {% include 'admin/includes/text-field.html' %}
                    {% endwith %}
                    {% with form.new_password1 as field %}
                        {% include 'admin/includes/text-field.html' %}
                    {% endwith %}
                    {% with form.new_password2 as field %}
                        {% include 'admin/includes/text-field.html' %}
                    {% endwith %}
                </div>
                <div class="modal__footer">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Save" %}
                    </button>
                </div>
            </div>
            <div class="modal__sub-footer modal__sub-footer--small text-center">
                
                <p>
                    <a href="{% url "account-public:dashboard" %}">{% trans "Cancel" %}</a>
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
