{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<form method="post" action="?next={{success_url}}">
    <div class="dialog dialog--small">
        <div class="dialog__content dialog__content--small">
            {% block dialog_header %}
                {% include "account/includes/dialog_header.html" %}
            {% endblock %}
            <div class="dialog__body dialog-section--padded">
                <h4>{% trans "Sign up" %}</h4>
                <p>{% trans "Please enter your email address and choose a password." %}</p>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert--error">
                        {% for error in form.non_field_errors %}
                            {{error}}<br>
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% with form.email as field %}
                        {% include 'admin/generic/form/field_as_div.html' %}
                    {% endwith %}
                    {% with form.password1 as field %}
                        {% include 'admin/generic/form/field_as_div.html' %}
                    {% endwith %}
                    {% with form.password2 as field %}
                        {% include 'admin/generic/form/field_as_div.html' %}
                    {% endwith %}

                    <input type="hidden" name="next" value="{{ next }}" />

            </div>
            <div class="dialog__footer dialog-footer dialog-section--padded">
                <div class="dialog-footer__actions">
                    <button class="btn btn--primary btn--full-width" type="submit">
                        {% trans "Sign up" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="dialog__content dialog__content--post">
            <p class="text-center">
                {% trans "Already registered?" %}
                <a href="{% url "account-public:login" %}">{% trans "Sign in" %}</a>
            </p>
        </div>
    </div>
</form>
{% endblock %}
